// H2ONLY COLOUR PALLETTE 
// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$dark_blue: #305464; // Dark (ish) blue - used on most fonts throughout the site
$bg_blue: #05386f; // Blue used for header background
$light_blue: #e4f7fd; // light blue bg