// H2ONLY INTRO BANNER STYLES
// _intro_banner.scss
.app_copy {
  font-size: 14px;
  padding: 39px 15px;
}
.app_copy h2 {
  font-size: 24px;
}
.app_copy ul li {
	display: block;
	margin: 0 0 30px 0;
}
ul.app_download li {
	float: left;
	margin-right: 10px;
}
ul.app_download li:last-child {
	margin-right: 0;
}
@include respond-to(tablet) {

}

@include respond-to(mobile) {

}