// H2ONLY INTRO BANNER STYLES
// _intro_banner.scss
.intro_copy {
  padding-top: 65px;
  font-size: 14px;
}
.intro_copy h2 {
  font-size: 24px;
}
@include respond-to(tablet) {

}

@include respond-to(mobile) {

}