@import "colors";

$media-mobile-max: 600px !default;
$media-desktop-min: 1025px !default;

@mixin wrapper{
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
@mixin image-link{
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align:top;
}
@mixin hr-style{
    border:0;
    width:100%;
    display:inline-block;
    height:3px;
}
@mixin header-aux-links-a{
    color:$logo-orange;
    font-weight:bold;
    display:inline-block;
    margin:0 4px;
    text-decoration:none;
}