$white: #FFF;
$black: #000;
$common-red: #ED1B2F;
$common-gradient-red: #A21718;
$common-grey: #E1E1D9;
$light-grey: #F3F3F3;












$pale-yellow: #FDF6EC;
$pale-blue: #E4EDF4;
$dark-grey: #323232;

$logo-blue: #13467D;
$logo-orange:#EE8E1D;
$logo-red: #C11F2E;

$hr-blue: #F2F6F8;

$btn-blue:#295C85;
$btn-green:#5EB657;

