@font-face {
    font-family: 'RotSanSer';
    src: url('../fonts/rotsanser-webfont.eot');
    src: url('../fonts/rotsanser-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsanser-webfont.woff') format('woff'),
         url('../fonts/rotsanser-webfont.ttf') format('truetype'),
         url('../fonts/rotsanser-webfont.svg#AgfaRotisSansSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RotSanSerBold';
    src: url('../fonts/agfarotsanserbolr-webfont.eot');
    src: url('../fonts/agfarotsanserbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfarotsanserbolr-webfont.woff') format('woff'),
         url('../fonts/agfarotsanserbol-webfont.ttf') format('truetype'),
         url('../fonts/agfarotsanserbolr-webfont.svg#AgfaRotisSansSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RotSanSerLight';
    src: url('../fonts/agfarotsanserlig-webfont.eot');
    src: url('../fonts/agfarotsanserlig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfarotsanserlig-webfont.woff') format('woff'),
         url('../fonts/agfarotsanserlig-webfont.ttf') format('truetype'),
         url('../fonts/agfarotsanserlig-webfont.svg#agfarotissansseriflightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}