/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */
@import "base";
@import "partials/unsemantic-vars";
@import "partials/unsemantic-ie-snap";

.grid-container{width: $container-max-width !important;}
.left-to-right-padding{
  padding-left:0 !important;
  padding-right:$gutter-half * 2 !important;
}
.no-right-padding{
  padding-right:0 !important;
}
.no-left-padding{
  padding-left:0 !important;
}
@media screen{
  @import "partials/unsemantic-grid-base";
  @import "partials/unsemantic-grid-desktop";
}
@media screen and (max-width: $media-mobile-max){
  @import "partials/unsemantic-grid-mobile";
  .grid-container{width:320px !important;}
  .mobile-no-right-padding{
	padding-right:0 !important;
  }
  .mobile-no-left-right-padding{
	padding-right:0 !important;
	padding-left:0 !important;
  }
  /*.extra-outer-gutter{
	width:300px !important;
	padding-left:$gutter-half !important;
	padding-right:$gutter-half !important;
  }
  .extra-outer-gutter.mobile-reset-gutter{
	width: 280px !important;
	padding-left:$gutter-half * 2 !important;
	padding-right:$gutter-half * 2 !important;
  }
  .mobile-no-left-padding{ padding-left:0 !important; }
  .mobile-no-right-padding{ padding-right:0 !important; }*/
}