/*div { font-family:"Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:200; font-style:normal; }
div { font-family:"Bliss Bold", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:bold; font-style:normal; }
*/


/*ROW STYLING - BLUE BACKGROUND*/



/*FOOTER STYLES*/


