/*div { font-family:"Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:200; font-style:normal; }
div { font-family:"Bliss Bold", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:bold; font-style:normal; }
*/
* {
  white-space: normal !important;
}

body {
  background: #FFF;
  color: #305464;
  outline: none;
}

#wrapper {
  max-width: 1024px !important;
  margin: 0px auto;
  background: #FFF;
}

.type-page ol {
  list-style-type: lower-alpha !important;
  margin: 0px 15px 0px 20px !important;
}
.type-page ol li {
  margin-bottom: 15px !important;
}
.type-page ol li ol {
  margin-top: 15px !important;
}

.container {
  max-width: 1024px !important;
}

.water-bg {
  background: #e4f7fd;
  margin-bottom: 0px;
  padding: 40px 20px;
}

.full-img-responsive {
  max-width: 100%;
  width: 100%;
}

.cookie-policy {
  background: #104069;
  min-height: 65px;
  color: #FFF;
  padding: 20px 40px;
  font-size: 12px;
}
.cookie-policy img {
  display: block;
  top: 20px;
  right: 40px;
  margin-left: 20px;
  float: right;
}

a, a.button {
  outline: none;
}

/* TINYMCE CLASSES */
.bliss-bold24 {
  font-family: "Bliss Bold", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  color: #305464;
  line-height: 32px;
}

.bliss-lite24 {
  font-family: "Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  color: #305464;
  line-height: 32px;
}

/********************* HEADER CONTENT *******************************/
header {
  background: #006387 url(../img/flare.png) bottom center no-repeat;
  position: relative;
  padding-bottom: 15px;
}
header ul#menu-social li.hashtag {
  padding-right: 25px;
}
header .graphic.date {
  padding-top: 50px;
  padding-right: 65px;
  width: 100%;
  float: left;
}
header .graphic.date img {
  float: left;
}
header .graphic.date .zen-holder {
  float: right;
}
header .graphic.date .zen-holder img.zen-man {
  margin-right: -35px;
  padding-top: 35px;
}
header .graphic.date .zen-holder img.date {
  padding-top: 85px;
}
header .graphic.date .zen-holder img.date.mobile, header .graphic.date .zen-holder img.zen-man.mobile {
  display: none;
}
header img.date.mobile-xs {
  display: none;
}
header #header-logo {
  padding: 23px 0 0 30px;
  position: absolute;
  left: 0;
  top: 0;
}
header #header-logo a {
  width: 135px;
  height: 67px;
  background: url(../img/rnli.png) no-repeat top left;
  display: inline-block;
}
header #header-logo a span {
  text-indent: -99999;
  display: none;
}

#header-strap .strap {
  font-size: 4.4em;
  font-family: Verdana, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: .6;
  color: white;
  margin: 0 0 24px 0;
  text-align: center;
}

#header-strap .graphic span {
  display: none;
}

#header-strap .graphic {
  display: inline-block;
  vertical-align: top;
  width: 387px;
  height: 154px;
  background: url(../img/logo.png) no-repeat top left;
}

.date {
  /* margin-top: 80px */
}

.grid-70 #header-strap {
  margin: 0;
}

.grid-70 #header-strap .graphic {
  display: inline-block;
  vertical-align: top;
  width: 423px;
  height: 168px;
  float: left;
  background: url(../img/logo-lrg.png) no-repeat top left;
}

.grid-70 .date {
  vertical-align: top;
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 0 0 20px;
}

.radiogroup-row.centered {
  text-align: center;
}

.page-template-tmplform-page-php .strap.graphic,
.page-template-tmplfull-page-tag-php .strap.graphic,
.page-template-tmplgallery-page-php .strap.graphic,
.page-template-tmplsignup-php .strap.graphic,
.page-template-tmplthanks-page-php .strap.graphic,
.page-template-tmplform-page-tag-php .strap.graphic,
.page-template-tmplfull-width-php .strap.graphic,
.error404 .strap.graphic {
  margin-left: auto !important;
}

.page-template-tmplform-page-php header .graphic.date,
.page-template-tmplfull-page-tag-php header .graphic.date,
.page-template-tmplgallery-page-php header .graphic.date,
.page-template-tmplsignup-php header .graphic.date,
.page-template-tmplthanks-page-php header .graphic.date,
.page-template-tmplform-page-tag-php header .graphic.date,
.page-template-tmplfull-width-php header .graphic.date,
.error404 header .graphic.date {
  float: right;
  width: 150px;
  height: 150px;
  margin: 30px 100px 75px 0px;
  vertical-align: top;
}

.page-template-tmplform-page-php #header-strap,
.page-template-tmplform-page-tag-php #header-strap,
.page-template-tmplgallery-page-php #header-strap,
.page-template-tmplsignup-php #header-strap,
.page-template-tmplthanks-page-php #header-strap,
.page-template-tmplfull-width-php #header-strap,
.error404 #header-strap {
  position: absolute;
  top: 20px;
  left: 300px;
}

#header-strap {
  position: absolute;
  top: 80px;
  left: 0px;
}
#header-strap .strap.graphic {
  margin-left: 120px;
  margin-top: 60px;
  margin-bottom: 45px;
}
#header-strap h2.description.mobile {
  display: none;
}
#header-strap h2.description.desktop {
  padding-left: 30px;
  font-size: 24px;
  font-family: "Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  color: white;
  margin: 0 0 20px;
  text-align: left;
}
#header-strap h2.description.desktop .home-desc1 {
  font-size: 36.48px;
  display: block;
  padding-bottom: 15px;
}
#header-strap h2.description.desktop .home-desc2 {
  font-size: 22.5px;
}
#header-strap .centered-btn {
  height: 42px;
  text-align: center;
}
#header-strap .desc-btn {
  margin-left: 30px;
}
#header-strap a.button {
  background: none;
}

#header-login {
  margin: 23px 0 0 20px;
}

.maintitle {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding: 40px;
  width: 85%;
  margin: 0px auto;
}

img.size-medium {
  width: 100%;
  max-width: 100%;
}

.no-left-pad {
  padding-left: 0px;
}

.no-right-pad {
  padding-right: 0px;
}

.fancy-btn {
  position: relative;
  display: inline-block;
  background-color: #FB8825;
}
.fancy-btn .top, .fancy-btn .bottom {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 20px;
  background-image: url("../img/bck/btn-top.png");
  background-repeat: repeat-x;
}
.fancy-btn .bottom {
  background-image: url("../img/bck/btn-bottom.png");
  height: 20px;
}
.fancy-btn .left {
  position: absolute;
  left: -1px;
  top: 5px;
  display: block;
  width: 22px;
  height: 20px;
  background-image: url("../img/bck/btn-left.png");
  background-repeat: repeat-y;
}
.fancy-btn .right {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 22px;
  height: 20px;
  background-image: url("../img/bck/btn-right.png");
  background-repeat: repeat-y;
}
.fancy-btn a {
  padding: 15px 20px;
  color: #FFF;
  text-transform: uppercase;
}

/********************* FOOTER *******************************/
.water-line-bottom {
  background-image: url(../img/bck/water-line-bottom.png);
  background-repeat: no-repeat;
  background-position: top;
  min-height: 10px;
  margin: 0px -15px 15px;
}

.water-line-top {
  background-image: url(../img/bck/water-line-top.png);
  background-repeat: no-repeat;
  background-position: top;
  min-height: 10px;
}

.water-line-signup {
  background-image: url(../img/bck/water-line-signup.png);
  background-repeat: no-repeat;
  background-position: top;
  min-height: 17px;
}

.water-line-other {
  /* background-image:url(../img/bck/water-line-other.png); */
  background-image: url(../img/bck/water-line-signup.png);
  background-repeat: no-repeat;
  background-position: top;
  min-height: 22px;
}

footer.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #006387;
  background-image: url(../img/bck/border-top-footer.png);
  background-repeat: no-repeat;
}
footer.footer a.button {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}
footer.footer .footer-logo a {
  /*	
   display: inline-block;
   vertical-align: top;
   width:235px;
   height:90px;
   background: url(../img/logo-sml.png) no-repeat top left; */
}
footer.footer .footer-lifeboat a img {
  float: right;
}
footer.footer a.twitter, footer.footer a.facebook {
  display: inline-block;
}
footer.footer a.twitter {
  margin-bottom: 15px;
}
footer.footer .footer-nav {
  padding-top: 50px;
}
footer.footer .footer-nav ul {
  padding: 0px;
}
footer.footer .footer-nav ul li {
  display: inline-block;
  border-right: 2px solid #fff;
  padding-right: 18px;
  padding-left: 18px;
  margin-bottom: 18px;
}
footer.footer .footer-nav ul li a {
  font-size: 12px;
  color: #feffff;
}
footer.footer .footer-nav ul li:first-child {
  padding-left: 0px;
}
footer.footer .footer-nav ul li:last-child {
  padding-right: 0px;
  border-right: none;
}
footer.footer .footer-copy {
  color: #feffff;
}

/* FORM PAGES */
header {
  padding-bottom: 20px;
}

.grid-70 .date {
  float: right;
  width: 150px;
  height: 150px;
  margin: 80px 100px 10px 10px;
  vertical-align: top;
}

#header-strap {
  /* left: 300px; */
  position: absolute;
  top: 60px;
}

.maintitle {
  font-family: "Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
  color: #305464;
  font-size: 29px;
  font-style: normal;
  padding: 60px 30px 10px;
}

#adduser, .container.createpage {
  padding-top: 40px;
}
#adduser .input-text, .container.createpage .input-text {
  width: 280px;
  height: 25px;
  float: right;
  border: 1px solid #cfd4d5;
  margin-right: 190px;
}
#adduser .form-item.input-row, #adduser .radiogroup, .container.createpage .form-item.input-row, .container.createpage .radiogroup {
  margin-bottom: 20px;
}
#adduser .form-item.input-row label, #adduser .radiogroup label, .container.createpage .form-item.input-row label, .container.createpage .radiogroup label {
  color: #305464;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 16px;
}
#adduser .fieldset, .container.createpage .fieldset {
  margin-bottom: 50px;
}
#adduser .fieldset-email, .container.createpage .fieldset-email {
  margin-bottom: 40px;
}
#adduser .error, .container.createpage .error {
  color: #fb8825;
  display: block;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 12px;
}
#adduser .radiogroup-row, .container.createpage .radiogroup-row {
  clear: both;
}
#adduser .radiogroup-row .label, .container.createpage .radiogroup-row .label {
  color: #305464;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 16px;
}
#adduser .radiogroup-row .radiogroup, .container.createpage .radiogroup-row .radiogroup {
  float: right;
  margin-top: -15px;
  margin-right: 295px;
}
#adduser .radiogroup-row .radiogroup label, .container.createpage .radiogroup-row .radiogroup label {
  padding-right: 45px;
}
#adduser .radiogroup-row .radiogroup input, .container.createpage .radiogroup-row .radiogroup input {
  margin-right: 10px;
}
#adduser .fieldset-submit, .container.createpage .fieldset-submit {
  background: #FFF;
  padding: 40px;
  text-align: center;
}
#adduser .fieldset-submit button.submit, .container.createpage .fieldset-submit button.submit {
  display: block;
  background: url(../img/submit-btn.png) no-repeat;
  text-align: center;
  padding: 12px;
  width: 315px;
  height: 42px;
  border: 0px;
  text-indent: -9999px;
  margin: 0px auto;
}
#adduser a.back-home, .container.createpage a.back-home {
  border-bottom: 1px solid #adb7bc;
  color: #305464;
}

.container.createpage span.hint {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  background: url(../img/tooltip.png) no-repeat;
}
.container.createpage .input-text {
  width: 280px;
  height: 25px;
  float: right;
  border: 1px solid #cfd4d5;
  margin-right: 120px;
}
.container.createpage .radiogroup-row {
  padding-top: 25px;
}
.container.createpage .radiogroup-row .radiogroup {
  margin-right: 75px;
}
.container.createpage .error label {
  color: #FB8825 !important;
  display: block !important;
  font-family: "Verdana" !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

.fieldset-submit.createpage.water-line-bottom {
  margin: 0 auto;
}

form#createpage {
  margin-top: 30px;
}

.fieldset-submit.createpage {
  padding-top: 40px;
  padding-bottom: 15px;
}
.fieldset-submit.createpage button[type="submit"] {
  display: block;
  background: url(../img/submit.png) no-repeat;
  text-align: center;
  padding: 12px;
  width: 170px;
  height: 42px;
  border: 0px;
  text-indent: -9999px;
  margin: 0px auto;
}

/**** LOGIN PAGE *****/
.container.login .water-line-bottom {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container.login .form-item.input-row {
  text-align: center;
}
.container.login .form-item.input-row label {
  color: #305464;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 16px;
}
.container.login .form-item.input-row .input-text {
  width: 280px;
  height: 25px;
  display: block;
  margin: 25px auto;
  border: 1px solid #cfd4d5;
}
.container.login .form-item.input-row .error {
  color: #fb8825;
  display: block;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 12px;
}
.container.login .form-item.input-row .error label:before {
  content: "!";
  display: inline-block;
  padding: 3px;
}
.container.login a.back-home {
  border-bottom: 1px solid #adb7bc;
  color: #305464;
}
.container.login .forgot-pwd {
  text-align: center;
}
.container.login .forgot-pwd a {
  border-bottom: 1px solid #adb7bc;
  color: #305464;
}
.container.login button[type="submit"], .container.login #recover_password {
  display: block;
  background: url(../img/login-btn.png) no-repeat;
  text-align: center;
  padding: 12px;
  width: 170px;
  height: 42px;
  border: 0px;
  text-indent: -9999px;
  margin: 0px auto;
}
.container.login #recover_password {
  background: url(../img/submit.png) no-repeat;
}
.container.login .forgot-links {
  text-align: center;
  padding-top: 15px;
}
.container.login .forgot-links span {
  color: #305464;
  padding: 0px 16px;
}

/************************************************************************************
COMMON SOCCIAL LINKS
*************************************************************************************/
.common-social-links {
  position: absolute;
  right: 15px;
  top: 15px;
}

.social-links,
.common-social-links,
.common-social-links ul,
.common-social-links ul li {
  display: inline-block;
  vertical-align: top;
  font: 1em "Bliss Bold", Verdana, sans-serif;
  font-size-adjust: 0.47;
  font-weight: bold;
  font-style: normal;
  line-height: 1.4em;
}

.social-links {
  width: 80%;
  margin: 0 auto;
}

.common-social-links ul li span, .social-links ul li span {
  margin-right: 8px;
}

.common-social-links ul li, .social-links ul li {
  font-size: 30px;
  color: white;
  display: inline-block;
  font-family: "Bliss Bold", Verdana, sans-serif;
}

.social-links ul {
  width: 100%;
}

.common-social-links ul li a, .social-links ul li a {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 42px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.common-social-links ul li.twitter a, .social-links ul li.twitter a {
  background-image: url(../img/share/tw.png);
  background-size: cover;
  -moz-background-size: cover;
}

.common-social-links ul li.facebook a, .social-links ul li.facebook a {
  background-image: url(../img/share/fb.png);
  background-size: cover;
  -moz-background-size: cover;
}

.common-social-links ul li.email a, .social-links ul li.email a {
  background-image: url(../img/share/em.png);
  margin-right: 0;
  background-size: cover;
  -moz-background-size: cover;
}

ul.drop {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0 0 20PX 0;
}
ul.drop li {
  background: url("../img/drop.png") no-repeat left top;
  height: 30px;
  padding-left: 27px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #305464;
}

/********************* HOMEPAGE *****************************/
.row .back-home-wrapper {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.row .back-home-wrapper a {
  color: #305464;
}
.row .hentry h3 {
  font-family: "Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #305464;
}
.row .hentry h3 strong {
  font-family: "Bliss Bold", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
}
.row .hentry p {
  padding-top: 15px;
}
.row .post-14.homepage_block h3 {
  text-align: center;
}
.row .post-4.homepage_block a.button {
  width: 259px;
  height: 42px;
  background: url(../img/signup.png) no-repeat center center;
  text-indent: -99999px;
  display: inline-block;
}
.row .post-7.homepage_block a.button {
  width: 418px;
  height: 42px;
  background: url(../img/downloadkit.png) no-repeat center center;
  text-indent: -99999px;
  display: inline-block;
}
.row .post-7.homepage_block a.button.postkit {
  width: 418px;
  height: 42px;
  background: url(../img/postkit.png) no-repeat center center;
  text-indent: -99999px;
  display: inline-block;
}
.row .post-11.homepage_block a.button {
  width: 274px;
  height: 42px;
  background: url(../img/get-the-bottle.png) no-repeat center center;
  text-indent: -99999px;
  display: inline-block;
}
.row .post-79 a.button {
  width: 418px;
  height: 42px;
  background: url(../img/downloadkit.png) no-repeat center center;
  text-indent: -99999px;
  display: inline-block;
}
.row .post-79 a.button.postkit {
  background: url(../img/postkit.png) no-repeat center center;
}
.row .post-81 a.button {
  width: 274px;
  height: 42px;
  background: url(../img/get-the-bottle.png) no-repeat center center;
  text-indent: -99999px;
  display: inline-block;
}
