@charset "CP850";
/**
* Responsive Styles
*
* @author Kwasi Brown
* @link www.cammoy.com
* @since 15th 05 2014
*/
@media (max-width: 1199px) {
  /*.page-template-tmplform-page-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php  #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php, #header-strap,
  .error404 #header-strap {
  	position:absolute;
  	top:20px;
  	left:250px;
  }*/ }
@media (max-device-width: 1024px) {
  /*#header-strap .strap.graphic {
  	margin-left:40px;
  }*/
  .page-template-tmplform-page-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 220px; }

  header .graphic.date {
    padding-right: 55px; }

  .maintitle {
    padding: 30px 0px; } }
@media (min-device-width: 991px) and (max-device-width: 991px) {
  #wrapper {
    max-width: 750px !important; }

  .page-template-tmplform-page-php #header-strap, .page-template-tmplfull-width-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    position: absolute;
    top: 55px;
    left: 0px;
    padding-left: 80px; } }
@media (max-width: 991px) {
  /* OTHER PAGES THAT'S NOT THE HOME PAGE */
  .page-template-tmplform-page-php header .graphic.date, .page-template-tmplfull-width-php header .graphic.date,
  .page-template-tmplfull-page-tag-php header .graphic.date,
  .page-template-tmplgallery-page-php header .graphic.date,
  .page-template-tmplsignup-php header .graphic.date,
  .page-template-tmplthanks-page-php header .graphic.date,
  .page-template-tmplform-page-tag-php header .graphic.date,
  .error404 header .graphic.date {
    float: right;
    margin: 60px 80px 25px 0px;
    vertical-align: top;
    padding-left: 55px; }
    .page-template-tmplform-page-php header .graphic.date img, .page-template-tmplfull-width-php header .graphic.date img,
    .page-template-tmplfull-page-tag-php header .graphic.date img,
    .page-template-tmplgallery-page-php header .graphic.date img,
    .page-template-tmplsignup-php header .graphic.date img,
    .page-template-tmplthanks-page-php header .graphic.date img,
    .page-template-tmplform-page-tag-php header .graphic.date img,
    .error404 header .graphic.date img {
      width: 100px;
      height: 100px; }

  header {
    padding-bottom: 75px; }

  .maintitle {
    padding: 15px 30px 25px; }

  #header-strap {
    top: 80px;
    left: 0px; }
    #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      /*
      width: 229px;
      height: 90px;
      background: url(../img/logo-sml.png) no-repeat top left;*/ }
    #header-strap .strap.graphic {
      margin-left: 30px;
      margin-top: 35px; }
    #header-strap h2.description.mobile {
      display: block;
      padding-left: 30px;
      font-size: 24px;
      font-family: "Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      line-height: 1;
      color: white;
      margin: 0 0 20px;
      text-align: center; }
      #header-strap h2.description.mobile .home-desc1 {
        font-size: 20px; }
      #header-strap h2.description.mobile .home-desc2 {
        font-size: 20px;
        font-family: "Bliss Bold", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; }
    #header-strap h2.description.desktop {
      display: none; }
    #header-strap .desc-btn {
      margin-left: 30px;
      text-align: center; }

  /*  END HEADERSTRAP */
  .header .graphic.date {
    padding-top: 50px;
    padding-right: 0px;
    width: 100%;
    float: left; }
    .header .graphic.date .zen-holder {
      float: right; }
      .header .graphic.date .zen-holder img.zen-man {
        display: none; }
      .header .graphic.date .zen-holder img.zen-man.mobile {
        display: block;
        margin-right: 0;
        padding-top: 35px;
        float: right; }
      .header .graphic.date .zen-holder img.date {
        display: none; }
      .header .graphic.date .zen-holder img.date.mobile {
        margin-right: -80px;
        padding-top: 35px;
        display: block; }

  /*  END HEADER */
  #adduser .input-text, .container.createpage .input-text {
    width: 280px;
    height: 25px;
    margin-right: 40px; }
  #adduser .radiogroup-row, .container.createpage .radiogroup-row {
    clear: both; }
    #adduser .radiogroup-row .label, .container.createpage .radiogroup-row .label {
      color: #305464;
      font-family: "Verdana";
      font-weight: bold;
      font-size: 16px; }
    #adduser .radiogroup-row .radiogroup, .container.createpage .radiogroup-row .radiogroup {
      margin-right: 133px; }
      #adduser .radiogroup-row .radiogroup label, .container.createpage .radiogroup-row .radiogroup label {
        padding-right: 45px; }
      #adduser .radiogroup-row .radiogroup input, .container.createpage .radiogroup-row .radiogroup input {
        margin-right: 10px; }

  /*  END ADD USER */
  .row .post-7.homepage_block a.button {
    width: 293px;
    height: 29px;
    background: url(../img/downloadkit-sm.png) no-repeat center center; }
  .row .post-7.homepage_block a.button.postkit {
    width: 293px;
    height: 29px;
    background: url(../img/postkit-sm.png) no-repeat center center; }
  .row .post-11.homepage_block a.button {
    width: 274px;
    height: 42px;
    background: url(../img/get-the-bottle-sm.png) no-repeat center center;
    text-indent: -99999px;
    display: inline-block; }
  .row .post-79 a.button {
    width: 293px;
    height: 29px;
    background: url(../img/downloadkit-sm.png) no-repeat center center;
    text-indent: -99999px;
    display: inline-block; }
  .row .post-79 a.button.postkit {
    background: url(../img/postkit-sm.png) no-repeat center center; }
  .row .post-81 a.button {
    width: 274px;
    height: 42px;
    background: url(../img/get-the-bottle-sm.png) no-repeat center center;
    text-indent: -99999px;
    display: inline-block; }

  /* END MAIN BTNS */
  #footer-nav-social a.button.twitter {
    width: 258px;
    height: 38px;
    background: url(../img/twitter-sm.png) no-repeat center center; }
    #footer-nav-social a.button.twitter img {
      display: none; }
  #footer-nav-social a.button.facebook {
    width: 256px;
    height: 38px;
    background: url(../img/facebook-sm.png) no-repeat center center; }
    #footer-nav-social a.button.facebook img {
      display: none; }

  .container.createpage .radiogroup-row {
    padding-top: 25px; }
    .container.createpage .radiogroup-row .radiogroup {
      margin-right: 0px;
      float: left;
      padding: 15px; } }
@media (min-width: 853px) and (max-width: 853px) {
  0 {
    position: absolute;
    top: 40px;
    left: 0px;
    padding-left: 100px; } }
@media (max-width: 800px) {
  .page-template-tmplform-page-php #header-strap, .page-template-tmplfull-width-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    top: 40px;
    left: 0px;
    padding-left: 160px; }

  .container {
    width: 100%; }

  .water-bg {
    padding-top: 30px;
    padding-bottom: 30px; }

  .row .hentry h3 {
    font-size: 22px; }

  .post-14.homepage_block h3 {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .post-14.homepage_block a img.size-full {
    float: left;
    width: 45%;
    height: 45%; }
  .post-14.homepage_block a img.size-full.alignleft {
    padding-right: 20px;
    width: 50%;
    height: 50%; }

  footer.footer {
    padding-top: 50px; }
    footer.footer a.twitter {
      margin-bottom: 5px; }
    footer.footer .footer-nav {
      clear: both;
      padding-top: 10px;
      padding-bottom: 15px; }
      footer.footer .footer-nav ul {
        text-align: center; }
    footer.footer .footer-logo a img {
      padding-top: 20px; } }
@media (max-width: 768px) {
  .page-template-tmplform-page-php #header-strap, .page-template-tmplfull-width-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    top: 40px;
    left: 0px;
    padding-left: 120px; }

  .fieldset-submit {
    padding: 20px; }

  .maintitle {
    padding-top: 30px;
    padding-bottom: 30px; }

  #adduser .fieldset-submit, .container.createpage .fieldset-submit {
    padding: 20px; }
  #adduser .input-text, .container.createpage .input-text {
    width: 280px;
    height: 25px; } }
@media (min-width: 640px) and (max-width: 640px) {
  #header-strap .strap.graphic {
    margin-left: 60px;
    margin-top: 35px; }

  #header-strap .graphic {
    width: 229px;
    height: 90px;
    background: url(../img/logo-sml.png) no-repeat top left; }

  footer.footer a.twitter {
    margin-bottom: 15px; }

  .footer-logo {
    width: 50%;
    float: left; } }
@media (max-width: 590px) {
  .common-social-links ul li, .social-links ul li {
    font-size: 24px; }

  .page-template-tmplform-page-php #header-strap, .page-template-tmplfull-width-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    top: 80px;
    left: 100px; }
    .page-template-tmplform-page-php #header-strap .graphic, .page-template-tmplfull-width-php #header-strap .graphic,
    .page-template-tmplform-page-tag-php #header-strap .graphic,
    .page-template-tmplgallery-page-php #header-strap .graphic,
    .page-template-tmplsignup-php #header-strap .graphic,
    .page-template-tmplthanks-page-php #header-strap .graphic,
    .error404 #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 229px;
      height: 90px;
      background: url(../img/logo-sml.png) no-repeat top left; }

  .page-template-tmplform-page-php header #header-logo a, .page-template-tmplfull-width-php header #header-logo a,
  .page-template-tmplfull-page-tag-php header #header-logo a,
  .page-template-tmplgallery-page-php header #header-logo a,
  .page-template-tmplsignup-php header #header-logo a,
  .page-template-tmplthanks-page-php header #header-logo a,
  .page-template-tmplform-page-tag-php header #header-logo a,
  .error404 header #header-logo a {
    background: url(../img/rnli-mini.png) no-repeat top left; }
  .page-template-tmplform-page-php header .graphic.date, .page-template-tmplfull-width-php header .graphic.date,
  .page-template-tmplfull-page-tag-php header .graphic.date,
  .page-template-tmplgallery-page-php header .graphic.date,
  .page-template-tmplsignup-php header .graphic.date,
  .page-template-tmplthanks-page-php header .graphic.date,
  .page-template-tmplform-page-tag-php header .graphic.date,
  .error404 header .graphic.date {
    float: right;
    margin: 60px 80px 25px 0px;
    vertical-align: top;
    padding-left: 55px; }
    .page-template-tmplform-page-php header .graphic.date img, .page-template-tmplfull-width-php header .graphic.date img,
    .page-template-tmplfull-page-tag-php header .graphic.date img,
    .page-template-tmplgallery-page-php header .graphic.date img,
    .page-template-tmplsignup-php header .graphic.date img,
    .page-template-tmplthanks-page-php header .graphic.date img,
    .page-template-tmplform-page-tag-php header .graphic.date img,
    .error404 header .graphic.date img {
      width: 100px;
      height: 100px; }

  #footer-nav-social a.button.twitter, #footer-nav-social a.button.facebook {
    display: block; }

  #footer-nav-social {
    clear: both; }
    #footer-nav-social a.button.twitter {
      width: 256px;
      height: 35px;
      background: url(../img/twitter-sm.png) no-repeat center center;
      text-align: left; }
    #footer-nav-social a.button.facebook {
      width: 256px;
      height: 35px;
      background: url(../img/facebook-sm.png) no-repeat center center;
      text-align: left; }

  .footer-logo, .footer-lifeboat {
    float: left;
    width: 50%; } }
@media (min-width: 591px) and (max-width: 603px) {
  #adduser {
    padding-top: 0px; }

  .page-template-tmplform-page-php #header-strap, .page-template-tmplfull-width-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    top: 80px;
    left: 40px; }
    .page-template-tmplform-page-php #header-strap .graphic, .page-template-tmplfull-width-php #header-strap .graphic,
    .page-template-tmplform-page-tag-php #header-strap .graphic,
    .page-template-tmplgallery-page-php #header-strap .graphic,
    .page-template-tmplsignup-php #header-strap .graphic,
    .page-template-tmplthanks-page-php #header-strap .graphic,
    .error404 #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 229px;
      height: 90px;
      background: url(../img/logo-sml.png) no-repeat top left; }

  .content a.button {
    display: block !important;
    margin: 0px auto; }

  /*  END CONTENT */
  .row .hentry h3 {
    padding-bottom: 15px !important;
    padding-top: 15px !important; }

  header {
    padding-bottom: 20px; }

  .maintitle {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 28px; }

  #header-strap {
    top: 80px;
    left: 0px; }
    #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 229px;
      height: 90px;
      background: url(../img/logo-sml.png) no-repeat top left; }
    #header-strap h2.description.mobile .home-desc1, #header-strap h2.description.mobile .home-desc2 {
      font-size: 16px; }
    #header-strap h2.description.mobile .home-desc2 {
      padding-top: 20px;
      display: block; }

  #adduser .radiogroup-row .radiogroup {
    margin-right: 0px; }

  footer.footer .menu-footer-container {
    clear: both; }
  footer.footer .footer-copy {
    width: 80%;
    float: left; }
  footer.footer .footer-frsb {
    width: 20%;
    float: left; }
  footer.footer .footer.footer-nav {
    padding-top: 0px;
    margin-top: 30px;
    float: left;
    width: 100%; }
  footer.footer #footer-nav-social, footer.footer .footer-logo, footer.footer .footer-lifeboat {
    float: left; }
  footer.footer #footer-nav-social {
    max-width: 200px; }
  footer.footer .footer-logo {
    max-width: 160px;
    padding-right: 0px; }
    footer.footer .footer-logo a img {
      padding-top: 5px; }
  footer.footer .footer-lifeboat {
    max-width: 140px;
    padding-right: 0px;
    padding-right: 0px; }
  footer.footer #footer-nav-social a.button.twitter {
    width: 185px;
    height: 25px;
    background: url(../img/twitter-mini.png) no-repeat center center; }
  footer.footer #footer-nav-social a.button.facebook {
    width: 185px;
    height: 25px;
    background: url(../img/facebook-mini.png) no-repeat center center; } }
@media (min-width: 568px) and (max-width: 568px) {
  .page-template-tmplform-page-php #header-strap,
  .page-template-tmplfull-width-php #header-strap,
  .page-template-tmplform-page-tag-php #header-strap,
  .page-template-tmplgallery-page-php #header-strap,
  .page-template-tmplsignup-php #header-strap,
  .page-template-tmplthanks-page-php #header-strap,
  .error404 #header-strap {
    top: 80px;
    left: 0px; }
    .page-template-tmplform-page-php #header-strap .graphic,
    .page-template-tmplfull-width-php #header-strap .graphic,
    .page-template-tmplform-page-tag-php #header-strap .graphic,
    .page-template-tmplgallery-page-php #header-strap .graphic,
    .page-template-tmplsignup-php #header-strap .graphic,
    .page-template-tmplthanks-page-php #header-strap .graphic,
    .error404 #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 229px;
      height: 90px;
      background: url(../img/logo-sml.png) no-repeat top left; }

  .page-template-tmplform-page-php header,
  .page-template-tmplfull-width-php header,
  .page-template-tmplform-page-tag-php header,
  .page-template-tmplgallery-page-php header,
  .page-template-tmplsignup-php header,
  .page-template-tmplthanks-page-php header,
  .error404 header {
    padding-bottom: 30px; }

  footer.footer .footer-copy {
    width: 75%;
    float: left; }

  .footer-frsb {
    width: 25%;
    float: left; }

  #header-strap .strap.graphic {
    margin-left: 60px;
    margin-top: 35px; }

  #header-strap .graphic {
    background: url(../img/logo-mini.png);
    width: 183px;
    height: 72px; }

  .header img.date.mobile-xs {
    display: block;
    padding-top: 104px;
    margin-left: 65px;
    width: 50%; }

  #header-strap h2.description.mobile {
    padding-top: 65px; }

  #header-strap h2.description.mobile .home-desc1 {
    font-size: 18px; }
  #header-strap h2.description.mobile .home-desc2 {
    font-size: 16px; } }
@media (max-width: 568px) {
  .header .graphic.date {
    padding-top: 50px;
    padding-right: 0px;
    width: 100%;
    float: left; }
    .header .graphic.date .zen-holder {
      float: right; }
      .header .graphic.date .zen-holder img.zen-man {
        display: none; }
      .header .graphic.date .zen-holder img.zen-man.mobile {
        display: block;
        margin-right: 0;
        padding-top: 35px;
        float: right; }
      .header .graphic.date .zen-holder img.date, .header .graphic.date .zen-holder img.date.mobile {
        display: none; }

  /*  END HEADER */
  #adduser .form-item.input-row label, #adduser .radiogroup label, .container.createpage .form-item.input-row label, .container.createpage .radiogroup label {
    width: 100%;
    font-size: 14px; }
  #adduser .input-text, .container.createpage .input-text {
    width: 100%;
    height: 25px;
    padding-right: 0px;
    float: left;
    margin-bottom: 20px; }
  #adduser .form-item.input-row.createaccount, .container.createpage .form-item.input-row.createaccount {
    padding-left: 0px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    float: left; }
    #adduser .form-item.input-row.createaccount .input-text, .container.createpage .form-item.input-row.createaccount .input-text {
      margin-left: 0px; }
    #adduser .form-item.input-row.createaccount .label, .container.createpage .form-item.input-row.createaccount .label {
      margin-left: 0px;
      padding-left: 0px;
      width: 100%; }
  #adduser select#heardabout, .container.createpage select#heardabout {
    width: 90%;
    margin-left: 11px; }
  #adduser .radiogroup-row, .container.createpage .radiogroup-row {
    padding-left: 15px;
    clear: both;
    display: block;
    float: left; }
    #adduser .radiogroup-row .label, .container.createpage .radiogroup-row .label {
      color: #305464;
      font-family: "Verdana";
      font-weight: bold;
      font-size: 14px;
      padding-left: 0px;
      width: 100%;
      text-align: left; }
    #adduser .radiogroup-row .radiogroup, .container.createpage .radiogroup-row .radiogroup {
      margin-right: 0px;
      float: left;
      width: 100%;
      padding-left: 15px;
      margin-top: 0px; }
      #adduser .radiogroup-row .radiogroup label, .container.createpage .radiogroup-row .radiogroup label {
        padding-right: 45px; }
      #adduser .radiogroup-row .radiogroup input, .container.createpage .radiogroup-row .radiogroup input {
        margin-right: 10px; }
  #adduser .fieldset-submit button.submit, .container.createpage .fieldset-submit button.submit {
    background: url(../img/submit-btn-sm.png) no-repeat;
    width: 252px;
    height: 34px; }

  /*  END SIGNUP FORM */ }
@media (max-width: 533px) {
  #adduser {
    padding-top: 0px; }

  .maintitle {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 28px; }

  .common-social-links ul li, .social-links ul li {
    font-size: 24px; }

  .header {
    padding-bottom: 180px; }
    .header #header-logo a {
      width: 90px;
      height: 45px;
      background: url(../img/rnli-mini.png) no-repeat; }
    .header img.date.mobile-xs {
      width: 50%;
      height: 50%;
      padding-top: 120px;
      margin-left: 60px; }
    .header .graphic.date .zen-holder img.zen-man.mobile {
      width: 57%;
      height: 57%;
      margin-right: 50px;
      padding-top: 25px; }

  .row .post-77 a img {
    max-width: 100%;
    width: 100%; }
  .row .post-79 a.button {
    width: 249px;
    height: 29px;
    background: url(../img/downloadkit-mini.png) no-repeat center center;
    margin-bottom: -30px; }
  .row .post-79 a.button.postkit {
    background: url(../img/postkit-mini.png) no-repeat center center; }
  .row .post-81 a.button {
    width: 210px;
    height: 29px; }

  #header-strap {
    top: 55px;
    left: 0px;
    width: 100%; }
    #header-strap .strap.graphic {
      display: inline-block;
      vertical-align: top;
      width: 229px;
      height: 90px;
      background: url(../img/logo-sml.png) no-repeat top left;
      margin-left: 60px; }
    #header-strap h2.description.mobile {
      margin-top: 75px; }

  .page-template-tmplform-page-php header,
  .page-template-tmplfull-page-tag-php header,
  .page-template-tmplgallery-page-php header,
  .page-template-tmplsignup-php header,
  .page-template-tmplthanks-page-php header,
  .page-template-tmplform-page-tag-php header,
  .error404 header {
    padding-bottom: 15px; }
    .page-template-tmplform-page-php header ul#menu-social li.hashtag,
    .page-template-tmplfull-page-tag-php header ul#menu-social li.hashtag,
    .page-template-tmplgallery-page-php header ul#menu-social li.hashtag,
    .page-template-tmplsignup-php header ul#menu-social li.hashtag,
    .page-template-tmplthanks-page-php header ul#menu-social li.hashtag,
    .page-template-tmplform-page-tag-php header ul#menu-social li.hashtag,
    .error404 header ul#menu-social li.hashtag {
      padding-right: 0px; }
    .page-template-tmplform-page-php header #header-strap,
    .page-template-tmplfull-page-tag-php header #header-strap,
    .page-template-tmplgallery-page-php header #header-strap,
    .page-template-tmplsignup-php header #header-strap,
    .page-template-tmplthanks-page-php header #header-strap,
    .page-template-tmplform-page-tag-php header #header-strap,
    .error404 header #header-strap {
      padding-left: 100px;
      left: 0px;
      width: 100%; }
    .page-template-tmplform-page-php header .graphic.date,
    .page-template-tmplfull-page-tag-php header .graphic.date,
    .page-template-tmplgallery-page-php header .graphic.date,
    .page-template-tmplsignup-php header .graphic.date,
    .page-template-tmplthanks-page-php header .graphic.date,
    .page-template-tmplform-page-tag-php header .graphic.date,
    .error404 header .graphic.date {
      float: right;
      margin: 60px 80px 25px 0px;
      vertical-align: top;
      padding-left: 55px; }
      .page-template-tmplform-page-php header .graphic.date img,
      .page-template-tmplfull-page-tag-php header .graphic.date img,
      .page-template-tmplgallery-page-php header .graphic.date img,
      .page-template-tmplsignup-php header .graphic.date img,
      .page-template-tmplthanks-page-php header .graphic.date img,
      .page-template-tmplform-page-tag-php header .graphic.date img,
      .error404 header .graphic.date img {
        width: 100px;
        height: 100px; } }
@media (max-width: 533px) and (min-width: 533px) {
  .page-template-tmplform-page-php .header,
  .page-template-tmplfull-width-php .header,
  .page-template-tmplform-page-tag-php .header,
  .page-template-tmplgallery-page-php .header,
  .page-template-tmplsignup-php .header,
  .page-template-tmplthanks-page-php .header,
  .error404 .header {
    padding-bottom: 30px; }
    .page-template-tmplform-page-php .header #header-strap,
    .page-template-tmplfull-width-php .header #header-strap,
    .page-template-tmplform-page-tag-php .header #header-strap,
    .page-template-tmplgallery-page-php .header #header-strap,
    .page-template-tmplsignup-php .header #header-strap,
    .page-template-tmplthanks-page-php .header #header-strap,
    .error404 .header #header-strap {
      left: 0px;
      padding-left: 90px; } }
/*  MAX WIDTH 500PX */
@media (max-width: 500px) {
  .common-social-links ul li, .social-links ul li {
    font-size: 24px; }

  .common-social-links ul li.twitter a {
    background-image: url(../img/share/tw-sm.png);
    width: 34px;
    height: 34px; }
  .common-social-links ul li.facebook a {
    background-image: url(../img/share/fb-sm.png);
    width: 34px;
    height: 34px; }
  .common-social-links ul li.email a {
    background-image: url(../img/share/em-sm.png);
    width: 34px;
    height: 34px; }

  .page-template-tmplform-page-php header #header-strap,
  .page-template-tmplfull-page-tag-php header #header-strap,
  .page-template-tmplgallery-page-php header #header-strap,
  .page-template-tmplsignup-php header #header-strap,
  .page-template-tmplthanks-page-php header #header-strap,
  .page-template-tmplform-page-tag-php header #header-strap,
  .error404 header #header-strap {
    left: 50px; }
  .page-template-tmplform-page-php header .graphic.date,
  .page-template-tmplfull-page-tag-php header .graphic.date,
  .page-template-tmplgallery-page-php header .graphic.date,
  .page-template-tmplsignup-php header .graphic.date,
  .page-template-tmplthanks-page-php header .graphic.date,
  .page-template-tmplform-page-tag-php header .graphic.date,
  .error404 header .graphic.date {
    float: right;
    margin: 60px 20px 25px 0px;
    vertical-align: top;
    padding-left: 55px; }
    .page-template-tmplform-page-php header .graphic.date img,
    .page-template-tmplfull-page-tag-php header .graphic.date img,
    .page-template-tmplgallery-page-php header .graphic.date img,
    .page-template-tmplsignup-php header .graphic.date img,
    .page-template-tmplthanks-page-php header .graphic.date img,
    .page-template-tmplform-page-tag-php header .graphic.date img,
    .error404 header .graphic.date img {
      width: 100px;
      height: 100px; } }
/*  MAX WIDTH 400PX */
@media (max-width: 425px) {
  .page-template-tmplform-page-php header #header-strap,
  .page-template-tmplfull-page-tag-php header #header-strap,
  .page-template-tmplgallery-page-php header #header-strap,
  .page-template-tmplsignup-php header #header-strap,
  .page-template-tmplthanks-page-php header #header-strap,
  .page-template-tmplform-page-tag-php header #header-strap,
  .page-template-tmplfull-width-php header #header-strap,
  .error404 header #header-strap {
    left: 50px; }
    .page-template-tmplform-page-php header #header-strap .graphic,
    .page-template-tmplfull-page-tag-php header #header-strap .graphic,
    .page-template-tmplgallery-page-php header #header-strap .graphic,
    .page-template-tmplsignup-php header #header-strap .graphic,
    .page-template-tmplthanks-page-php header #header-strap .graphic,
    .page-template-tmplform-page-tag-php header #header-strap .graphic,
    .page-template-tmplfull-width-php header #header-strap .graphic,
    .error404 header #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 183px;
      height: 72px;
      background: url(../img/logo-mini.png) no-repeat top left; }
  .page-template-tmplform-page-php header .graphic.date,
  .page-template-tmplfull-page-tag-php header .graphic.date,
  .page-template-tmplgallery-page-php header .graphic.date,
  .page-template-tmplsignup-php header .graphic.date,
  .page-template-tmplthanks-page-php header .graphic.date,
  .page-template-tmplform-page-tag-php header .graphic.date,
  .page-template-tmplfull-width-php header .graphic.date,
  .error404 header .graphic.date {
    float: right;
    margin: 60px 10px 25px 0px;
    vertical-align: top;
    padding-left: 55px; }
    .page-template-tmplform-page-php header .graphic.date img,
    .page-template-tmplfull-page-tag-php header .graphic.date img,
    .page-template-tmplgallery-page-php header .graphic.date img,
    .page-template-tmplsignup-php header .graphic.date img,
    .page-template-tmplthanks-page-php header .graphic.date img,
    .page-template-tmplform-page-tag-php header .graphic.date img,
    .page-template-tmplfull-width-php header .graphic.date img,
    .error404 header .graphic.date img {
      width: 100px;
      height: 100px; } }
/*  MAX WIDTH 360PX */
@media (max-width: 360px) {
  .page-template-tmplform-page-php header #header-strap,
  .page-template-tmplfull-page-tag-php header #header-strap,
  .page-template-tmplgallery-page-php header #header-strap,
  .page-template-tmplsignup-php header #header-strap,
  .page-template-tmplthanks-page-php header #header-strap,
  .page-template-tmplform-page-tag-php header #header-strap,
  .page-template-tmplfull-width-php header #header-strap,
  .error404 header #header-strap {
    left: 0px;
    padding-left: 30px; }
    .page-template-tmplform-page-php header #header-strap .graphic,
    .page-template-tmplfull-page-tag-php header #header-strap .graphic,
    .page-template-tmplgallery-page-php header #header-strap .graphic,
    .page-template-tmplsignup-php header #header-strap .graphic,
    .page-template-tmplthanks-page-php header #header-strap .graphic,
    .page-template-tmplform-page-tag-php header #header-strap .graphic,
    .page-template-tmplfull-width-php header #header-strap .graphic,
    .error404 header #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 183px;
      height: 72px;
      background: url(../img/logo-mini.png) no-repeat top left; }
  .page-template-tmplform-page-php header .graphic.date,
  .page-template-tmplfull-page-tag-php header .graphic.date,
  .page-template-tmplgallery-page-php header .graphic.date,
  .page-template-tmplsignup-php header .graphic.date,
  .page-template-tmplthanks-page-php header .graphic.date,
  .page-template-tmplform-page-tag-php header .graphic.date,
  .page-template-tmplfull-width-php header .graphic.date,
  .error404 header .graphic.date {
    float: right;
    margin: 60px 10px 25px 0px;
    vertical-align: top;
    padding-left: 55px; }
    .page-template-tmplform-page-php header .graphic.date img,
    .page-template-tmplfull-page-tag-php header .graphic.date img,
    .page-template-tmplgallery-page-php header .graphic.date img,
    .page-template-tmplsignup-php header .graphic.date img,
    .page-template-tmplthanks-page-php header .graphic.date img,
    .page-template-tmplform-page-tag-php header .graphic.date img,
    .page-template-tmplfull-width-php header .graphic.date img,
    .error404 header .graphic.date img {
      width: 100px;
      height: 100px; }

  .maintitle {
    margin-left: 10px;
    margin-right: 10px; }

  .row .hentry h3 {
    padding-top: 10px;
    padding-bottom: 10px; }

  .common-social-links ul li, .social-links ul li {
    font-size: 18px; }

  header ul#menu-social li.hashtag {
    padding-right: 0px; }

  .common-social-links ul li a {
    margin-right: 2px; }
  .common-social-links ul li.twitter a {
    background-image: url(../img/share/tw-mini.png);
    width: 30px;
    height: 30px; }
  .common-social-links ul li.facebook a {
    background-image: url(../img/share/fb-mini.png);
    width: 30px;
    height: 30px; }
  .common-social-links ul li.email a {
    background-image: url(../img/share/em-mini.png);
    width: 30px;
    height: 30px; }

  .header {
    padding-bottom: 190px; }
    .header #header-logo a {
      width: 90px;
      height: 45px;
      background: url(../img/rnli-mini.png) no-repeat; }
    .header img.date.mobile-xs {
      width: 65%;
      height: 65%;
      padding-top: 100px;
      margin-left: 20px; }
    .header .graphic.date .zen-holder img.zen-man.mobile {
      width: 57%;
      height: 57%;
      margin-right: 15px;
      padding-top: 25px; }

  #header-strap {
    top: 55px;
    left: 0px;
    width: 100%; }
    #header-strap .strap.graphic {
      display: inline-block;
      vertical-align: top;
      width: 229px;
      height: 90px;
      background: url(../img/logo-mini.png) no-repeat top left;
      margin-left: 30px; }
    #header-strap h2.description.mobile {
      margin-top: 50px;
      padding-left: 0px; }
      #header-strap h2.description.mobile .home-desc1, #header-strap h2.description.mobile .home-desc2 {
        font-size: 18px; }
      #header-strap h2.description.mobile .home-desc1 {
        display: block;
        padding-top: 10px;
        margin-bottom: -10px; }

  footer.footer .footer-nav {
    clear: both;
    padding-top: 25px; }
    footer.footer .footer-nav ul li {
      padding-left: 5px;
      padding-right: 8px; }
  footer.footer .footer-copy {
    width: 70%;
    float: left; }
  footer.footer .footer-frsb {
    width: 20%;
    float: left; }

  form label {
    width: 100%; } }
/*  MAX WIDTH 320PX */
@media (max-width: 320px) {
  .page-template-tmplform-page-php header #header-strap,
  .page-template-tmplfull-page-tag-php header #header-strap,
  .page-template-tmplgallery-page-php header #header-strap,
  .page-template-tmplsignup-php header #header-strap,
  .page-template-tmplthanks-page-php header #header-strap,
  .page-template-tmplform-page-tag-php header #header-strap,
  .page-template-tmplfull-width-php header #header-strap,
  .error404 header #header-strap {
    left: 0px;
    padding-left: 30px; }
    .page-template-tmplform-page-php header #header-strap .graphic,
    .page-template-tmplfull-page-tag-php header #header-strap .graphic,
    .page-template-tmplgallery-page-php header #header-strap .graphic,
    .page-template-tmplsignup-php header #header-strap .graphic,
    .page-template-tmplthanks-page-php header #header-strap .graphic,
    .page-template-tmplform-page-tag-php header #header-strap .graphic,
    .page-template-tmplfull-width-php header #header-strap .graphic,
    .error404 header #header-strap .graphic {
      display: inline-block;
      vertical-align: top;
      width: 146px;
      height: 58px;
      background: url(../img/logo-mini-2.png) no-repeat top left; }
  .page-template-tmplform-page-php header .graphic.date,
  .page-template-tmplfull-page-tag-php header .graphic.date,
  .page-template-tmplgallery-page-php header .graphic.date,
  .page-template-tmplsignup-php header .graphic.date,
  .page-template-tmplthanks-page-php header .graphic.date,
  .page-template-tmplform-page-tag-php header .graphic.date,
  .page-template-tmplfull-width-php header .graphic.date,
  .error404 header .graphic.date {
    float: right;
    margin: 60px 10px 25px 0px;
    vertical-align: top;
    padding-left: 55px; }
    .page-template-tmplform-page-php header .graphic.date img,
    .page-template-tmplfull-page-tag-php header .graphic.date img,
    .page-template-tmplgallery-page-php header .graphic.date img,
    .page-template-tmplsignup-php header .graphic.date img,
    .page-template-tmplthanks-page-php header .graphic.date img,
    .page-template-tmplform-page-tag-php header .graphic.date img,
    .page-template-tmplfull-width-php header .graphic.date img,
    .error404 header .graphic.date img {
      width: 100px;
      height: 100px; }

  .header {
    padding-bottom: 180px; }
    .header #header-logo a {
      width: 90px;
      height: 45px;
      background: url(../img/rnli-mini.png) no-repeat; }
    .header img.date.mobile-xs {
      width: 50%;
      height: 50%;
      padding-top: 85px;
      margin-left: 30px; }
    .header .graphic.date .zen-holder img.zen-man.mobile {
      width: 50%;
      height: 50%;
      margin-right: 15px;
      padding-top: 25px; }

  #header-strap {
    top: 55px;
    left: 0px;
    width: 100%; }
    #header-strap .strap.graphic {
      display: inline-block;
      vertical-align: top;
      width: 146px;
      height: 58px;
      background: url(../img/logo-mini-2.png) no-repeat top left;
      margin-left: 30px; }
    #header-strap h2.description.mobile {
      margin-top: 50px;
      padding-left: 0px; }
      #header-strap h2.description.mobile .home-desc1, #header-strap h2.description.mobile .home-desc2 {
        font-size: 18px; }
      #header-strap h2.description.mobile .home-desc1 {
        display: block;
        padding-top: 10px;
        margin-bottom: -10px; }

  .row h3 {
    padding-top: 20px; }
  .row .post-7.homepage_block a.button {
    width: 249px;
    height: 29px;
    background: url(../img/downloadkit-mini.png) no-repeat center center;
    margin-bottom: -30px; }
  .row .post-7.homepage_block a.button.postkit {
    width: 249px;
    height: 29px;
    background: url(../img/postkit-mini.png) no-repeat center center; }

  ul.drop li {
    padding-top: 6px;
    line-height: 15px;
    height: 30px; } }
