// H2ONLY COLOUR PALLETTE 
// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$dark_blue: #305464; // Dark (ish) blue - used on most fonts throughout the site
$bg_blue: #05386f; // Blue used for header background
$header_blue: #2db2db;
$light_blue: #e4f7fd; // light blue bg
$grey: #eaeaea;
$fb_blue: #0a4d7a; // Blue used for fb bg
$twit_blue: #04c2db; // blue used for twitter background
$orange: #ef8200; // orange used for email bg/ cta's
$yellow: #fedb32; // Yellow used on the daily challenge banner
$social_blue: #1db4df; // blue used in footer for social buttons
$form_border: #a5aeb1;
$cookie: #eae8e5; // Cookie policy bg